.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px ;
  width: 1000px;
  margin: 0 auto;
  background: rgb(250, 236, 238);
}

.product {
  background:#fff;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  
}

.product img {
  width:300px;
  height: 250px;
  display: block;
  justify-content: center;
  border-radius: 20px;
  padding:10px 10px ;
}

.order-btn {
  background: #f43f5e;
  color: white;
  border: none;
  padding: 10px 10px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 200px;
  border-radius: 20px;
  
}

.order-btn:hover {
  background-color: #e04e53;
}